.Section-detail {
	position: absolute;
	padding: 1em 7em;
	top: 5em;
	left: 7em;
	backdrop-filter: brightness(70%);

	&-img {
		width: 300px;
		margin: 2em;
		float: right;
	}

	&-span {
		position: absolute;
		top: 2.2em;
		right: 6.2em;
		font: 500 italic 1.5em $font-family;
		backdrop-filter: invert(45%);
		color: $white;
		padding: 0.5em;
	}

	&-div {
		position: absolute;
		bottom: 12em;
		right: 10.5em;
		text-align: center;
	}

	&-h3 {
		font: 700 2em $font-family;
	}

	&-ul {
		margin-top: 1em;
	}

	&-li {
		font: 500 1.2em $font-family;
	}
}

.main-detail {
	@include flex-flow(column, center);

	padding: 3em;

	&-h2 {
		font: 900 3em $font-family;
		padding: 0.5em 1em 1em;
	}

	&-div {
		@include flex-flow(row, flex-start);

		padding: 1em;
	}

	&-p {
		font: 500 italic 1.4em $font-family;
		margin-right: 1em;
	}

	&-blockquote {
		font: 500 1.4em $font-family;
		margin-left: 1em;
	}
}
