.Header-404 {
	gap: 2rem;
	padding: 3rem;
	background: $black-russian;
	height: 100vh;
	@include flex-flow(column, center);

	&-h2 {
		font: 700 12em $font-family;
		color: $amarillo-napoles;
	}

	&-p {
		font: 400 3em $font-family;
	}

	&-h3 {
		font: 400 2em $font-family;
		color: $lime-pupl;
	}

	&-input {
		cursor: pointer;
		color: $black-russian;
		font: 700 2em $font-family;
		background: $lime-pupl;
		padding: 0.5em;
		border-radius: 0.5em;

		&:hover {
			background: $jaune-sinding;
		}
	}
}
