/* colors vars */

$black-russian: #19191b;
$jaune-sinding: #fff2ab;
$lime-pupl: #bbad69;
$amarillo-napoles: #eccd6a;
$marol-gray: #d3d3d3;
$pumpkin: #ffa260;
$white: #fff;
$dover-gray: #707070;
$sno: #d3d3d3;

/* Pointer images */

$bg-landing: 'bg-landing.jpg';
$gb: 'bg.jpg';

/* Animations */

@keyframes icons {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0.3rem, 0.4rem);
	}
}

/* Custom fonts */

$font-family: 'Roboto', sans-serif;

@font-face {
	font-family: Roboto;
	font-weight: 900;
	font-style: normal;
	src: url('/public/roboto-black.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-style: normal;
	src: url('/public/roboto-bold.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	src: url('/public/roboto-medium.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: Roboto;
	font-weight: 500;
	font-style: italic;
	src: url('/public/Roboto-MediumItalic.woff2') format('woff2');
	font-display: swap;
}
