.u-flex {
	display: flex;
}

.u-socials {
	height: 90px;
	width: 90px;
}

.u-bg-vh {
	height: 100vh;
}

.u-article {
	@include grid-template;
}

.u-bg-home {
	position: absolute;
	filter: opacity(15%);
}

.u-preloader {
	height: 15rem;
	width: 20rem;
	margin: 7rem 30rem;
	border-radius: 10%;
	box-shadow: blur(10%);
}

.u-nav {
	position: sticky;
	@include flex-flow(row, space-evenly);
}

.u-h1 {
	font: 900 2em $font-family;
}
